@tailwind base;
@tailwind components;
@tailwind utilities;

@color-main:#de2424;
@color-bright:lighten(@color-main,25%);
@color-shadow:darken(@color-main,25%);

#header {
  background-image: url('../public/magazyn.jfif');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  text-shadow: 2px 2px 4px #000000; 
}

#nav > header {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 65px));
}

.w-85px {
  width: 85px;
}

.page-transition {
  opacity: 0;
  transform: scale(0.95);
  background-color: #000;
  transform: translateY(40px);
  filter: blur(12px);
}

body {
  transition-property: background-color, opacity, transform, filter;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
